* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

/* Nav Container */
.nav {
    overflow: hidden;
    background-color: #2a2a2a;
}
/* nav bagian kiri */
.leftnav {
    float: left;
    display: block;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}
/*nav bagian kanan */
.rightnav {
    float: right;
    display: block;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}
/* Hover nav */
.nav a:hover{
    background-color: #ddd;
    color: #2a2a2a;
}
/*bagian tengah*/
.colomn.tengah {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    gap: 10px;
}

/*colummn main*/
.column {
    float: left;
    padding: 10px;
}

/*kolom kiri*/
.column.left {
    background-color: white;
    width: 70%;
    padding: 20px;
}

/*kolom kanan*/
.column.right {
    width: 30%;
    background-color: white;
    padding: 20px;
}
 /* bawah kolom*/
.column.bottom {
    background-color: white;
    padding: 20px;
}

/* ngebuat resposive */
 @media screen and (max-width: 600px) {
           .columnleft, .columnright .main-body .column.bottom .img {
            width: 100%;
           }
        }

/*bagian footer */
footer {
    background-color: #ddd;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}