* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
}

/* Nav Container */
.nav {
    overflow: hidden;
    background-color: #2a2a2a;
}
/* left nav */
.leftnav {
    float: left;
    display: block;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}
/* right nav */
.rightnav {
    float: right;
    display: block;
    padding: 14px 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
}
/* Hover nav */
.nav a:hover{
    background-color: #ddd;
    color: #2a2a2a;
}
/*main body*/
.main.body {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    gap: 10px;
}

/*colummn main*/
.column {
    float: left;
    padding: 10px;
}

/*left column*/
.column.left {
    background-color: white;
    width: 70%;
    padding: 20px;
}

/*right column*/
.column.right {
    width: 30%;
    background-color: white;
    padding: 20px;
}
 /* bottom column*/
.column.bottom {
    background-color: white;
    padding: 20px;
}

/* responsive */
 @media screen and (max-width: 600px) {
           .columnleft, .columnright .main-body .column.bottom .img {
            width: 100%;
           }
        }

/* footer */
footer {
    background-color: #ddd;
    text-align: center;
    padding: 20px;
    font-weight: bold;

}

